
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    /* overflow-y:hidden; */
    /* overflow-x:hidden;  */
}
::selection {
     -webkit-user-select: none;
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  /* filter: blur(20px); */
	line-height: 1;
    background: url(img/food.png);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'sahel' !important;
overflow-x: hidden;
overflow-y: hidden !important;
 
}
/* body.loaded{
  filter: blur(0);
  transition: 1s !important;
} */
body.amar{
  background:#fff;
}
.app-blur{
    filter: blur(0);
   
    transition: .2s;
}
.app-blur.active{
    filter: blur(20px);
   
    transition: .2s;
}
.all.active{
 filter: blur(50px);
 transform:rotate(40deg) scale(1.5);
 transition:.5s;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* persian font import start */
@font-face{font-family: 'sahel';
    src: url('fonts/Sahel-Bold-FD-WOL.eot');
    src: url('fonts/Sahel-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
    url('fonts/Sahel-Bold-FD-WOL.ttf') format('truetype'),
    url('fonts/Sahel-Bold-FD-WOL.woff') format('woff');}
      /*persian font import end */

i{
    color: #fff;
}
.menu-tog i{

 
    font-size: 20px;
     margin-top:2px;
    color:#fff;
    transition: .4s;
     padding-left:20px;
padding-right:20px;
padding-top:5px;
margin-bottom:3px;
bottom:5px;
padding-bottom:3px;
position:relative;
    }

.menu-tog i.actived{
    opacity: 0;
}
.menu-tog:hover i{


color: #fff;
background: tomato;
padding-left:20px;
padding-right:20px;

}



#report h3{
    font-family: 'sahel';
}

.admin-menu{
    width: 300px;
    height: 700px;
    background: rgba(224, 140, 13, 0.788);
   position: absolute;
    left:-300px;
    transition: .7s;
   z-index: 100;
   margin-top: -21px;
}
.admin-menu.active{
    left:0;
    transition: .7s;
}

::-webkit-scrollbar{
    width: 13px;
    background: rgba(0, 0, 0, 0.075); 
     
    }
    

    ::-webkit-scrollbar-thumb{
    background: #ddd0d0;
        border-radius:10px;
 
    }    
    ::-webkit-scrollbar-thumb:hover{
     background: #b4acac;
    }
.exit i{
    left: -50px;
    font-size: 40px;
    position: fixed;
    transition: .7s;
 transform: rotate(0);
}
.exit:hover i{
    transform: rotate(360deg);
    transition: .5s;
}

    .exit i.act{
   
        font-size: 40px;
        transition: .7s;
position: fixed;
        left: 259px;
        top: 3px;

    }

   .food-btn{
       position: relative;
       top: 90px;
       left: 100px;
       width: 114px;
     
   }


   .food-form{
    width: 300px;
    z-index: 200;
    height: 100%;
    top:25px;
   background: rgba(255, 255, 255, 0.336);
   color: #000;
   position: fixed;
   left:-300px;
    
    transition: .7s;}
.food-form.active{
    z-index: 200;
    top:25px;
    position: fixed;
   left:0;

    transition: .7s;   
}


.time-flex-div{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

 

.btn-add{
    width: 100px;
    height: 30px;
    color: #fff;
    background: black;
    border-radius: 10px;
}

.controls-tab{
    width: 100%;
    height: 20px;
    background: #fff;
    border-bottom: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.controls-tab:hover{
    width: 100%;
    height: 150px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.txt1{
    color: #000;
}



.txt1.active{
    color: red;
}
.exit-tab{
 width:100%;
 height: 20px;
 transition: .7s;
 position: absolute;
}

.exit-tab:hover{
    width:100%;
    height: 100px;
    background: #000;
    transition: .7s;
   }
   
   
   .addfoodtab form {
       display: flex;
   }
   .food-form input::placeholder{
       color: #fff;
       font-family: 'sahel';
   }
  .food-form input[type=text]{
      background: none;
      font-family: 'sahel';
      box-shadow: none;
      border: none;
      border-bottom: 1px solid #000;
      width: 190px;
      transition: .4s;
      font-size: 16px;
      color: #000;

      margin-left: 20px;
  }

  .food-form input[type=text]:focus{
    background: none;
    box-shadow: none;
    border: none;
    
    outline: none;
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
    width: 250px;
    transition: .4s;
  }
#Admin_Add_Food_Btn{
      width: 150px;
      font-family: 'sahel';
      position: absolute;
      margin-top: 10px;
      margin-left: 66px;
  }
  #Exit_All_Btn{
    width: 150px;
    font-family: 'sahel';
    border: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 66px;
    bottom: 70px;
}
#Delete_Food_h2{
    text-align: center;
    font-size: 18px;
    margin-right: 17px;
    color: aliceblue;
}
#Select_To_Delete_Food{
    font-family: 'sahel';
    margin-left:62px;
    background: rgb(116, 42, 42);
    color: rgb(255, 255, 255);
}

#foodlist{
    width: 250px;
    height: 40%;
    overflow-y: scroll;
    margin-left:28px;
}

#foodlist::-webkit-scrollbar{
    width: 7px;
    }
    #foodlist::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    
    }    



/*     

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
   */
  
  /* .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
   */
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  
/* 
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  } */
  
/*   
  .modal-body {padding: 2px 16px;
   background: url(img/background.jpg);
     
  }
  
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
   */
/* 
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width:30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  } */
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }




 



  #Customer_Add_Food_Form input[type=text]{
    background: none;
    font-family: 'sahel';
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 476px;
    transition: .2s;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-top:50px;
    
}


#Customer_Add_Food_Form input[type=text]:focus{
    background: none;
    box-shadow: none;
    border: none;
    
    outline: none;
     font-size: 17px;
 
    border-bottom: 1px solid rgb(0, 0, 0);
    /* width: 350px; */
    transition: .2s;
  }


  #Select_To_Add_Food{
      width: 280px;
      background: rgb(87, 52, 52);
      color: #fff;
      font-family: 'sahel';
    margin-top: 30px;
    margin-left: 23px;
  }




  #OrderFood_ID{
       margin-top:10px;
      width:180px;
      margin-left:10%;
            margin-right:90%;
 
  }
  #OrderFood_ID:hover{
      transform: scale(.9);
    
      transition: .7s;
  }


  #scu-date{
 

      font-size:15px;
      color:#fff;
      right: 23px;

  }


 



  #report{
      position:absolute;
      font-size: 4px;
      top:100px;
      left: -200vw;
      

      font-family: 'sahel';
    
  }
 

  .top-tab{
      width:100%;
      opacity: .6;
      display:none;
      height:25px;
      background:#f7b527;
     
     z-index:6000;
      transition:.2s;
  

     justify-content: space-between;
  }
   .main-div{
      background: rgba(0, 0, 0, 0.253);
      width: 100%;
      height: 70vh;
     
 
}
.main-div.active{
  display: none;
}
/*right side table*/
  .added-food-list{
     background: none;
      color: #fff;
  }
      
/*left side table*/






  .table-scroll{
    height: 70vh;
      overflow-y: scroll;
      overflow-x: hidden;
  }
    .main-table-scroll{
      height: 70vh;
      overflow-y: scroll;
      overflow-x: hidden;
  }


  .window-manage{
      color:#fff;
      font-size: 17px;
      /* margin-top:3px; */
      padding: 3px 10px 0 10px;

      
  }
    /* .window-manage-2{
      color:#fff;
      
}
    .window-manage-3{
      color:#fff;
    
    
      font-size:20px;

} */
    .window-manage:hover{
    background:red;
    color:#fff;}
        /* .window-manage-2:hover{
    background:red;
    color:#fff;}
    .window-manage-3:hover{
    background:red;
    color:#fff;} */
.bottom-tab{
       display:none;
    }
.head-flex{
    display:flex;
    justify-content: space-between;
}

.date-report{
    width: 100vw;
    z-index: 200;
    height: 50vh;
    bottom:-50%;
    background: rgba(255, 255, 255, 0.336);
 
   position: fixed;
   left:0;

    transition: .7s;}
.date-report.active{
    z-index: 200;
    bottom:0;
    position: fixed;

    

    transition: .7s;   
}

.back-to-bottom{
    display: block;
    text-align: center;

}

.back-to-bottom i{
    background: #fff;
    border-radius:20%;
 
    color: black;
    margin-top: -1%;
    padding: 20px;
    -webkit-box-shadow: 9px 55px 42px -36px rgba(0,0,0,0.61);
    -moz-box-shadow: 9px 55px 42px -36px rgba(0,0,0,0.61);
    box-shadow: 9px 55px 42px -36px rgba(0,0,0,0.61);
}

 


.my-flex{
display: flex;
justify-content: space-around;}


.my-flex .child-1 input[type=text]{
    width: 30vw;
    top: 10%;
    position: relative;
}

.date_report_btn{
    background: rgb(255, 255, 255);
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 10px;

}

/* #print_order_daily{
    margin-top: -400px;
} */


#print_order_daily{
    position: relative;
    left: -200vw;
}


.offlineModal{
    background: #ffffff;
    opacity: .95;
    width: 100%;
    height:9vh;
    position: absolute;
    left: 0;
    top: -10vh;
    z-index: 2000;
    display: flex;
    justify-content: center;
    transition: .7s;
}

.offlineModal.active{
    background: #ffffff;
    opacity: .95;
    width: 100%;
    height:10vh;
    position: absolute;
    left: 0;
    top: 3vh;
    z-index: 2000;
    transition: .7s;
}

 .lockbody{
  background:rgba(0, 0, 0, 0.603);
  width: 100vw;
  height:100vh;
  display: none;
  z-index: 2000;
  position: absolute
 }
 .lockbody.active{
  display: block;
 }

 .botton-line{
     width:100%;
     height:30px;
     background:rgb(45, 209, 13);
     position: absolute;
     bottom:10px;
     cursor: pointer;
 }
 .order-done-btn-txt{
     color: #fff;
     font-size: 20px;
     display: block;
     text-align: center;
 }
 .order-done-btn-txt i{
     position: relative;
     top:2px;
 }
.no-drag{
    -webkit-app-region: no-drag;
}
.drag{
-webkit-user-select: none;
-webkit-app-region: drag;}

.orderdonebtn{
    display: flex;
    flex-flow: row;
    justify-content:center;
    text-align: center;
    width:100vw;

}




.button-sell {
    position: absolute !important;
    bottom: 11vh;
    text-decoration: none !important;
    text-transform: uppercase;
    font-family: Sahel !important;
    font-weight: bold;
    font-weight: 300;
    font-size: 5vh;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    line-height: 8vh;
    padding-left: 5em;
    padding-right: 5em;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: rgba(0, 0, 0, 0.315);
  }
  .button-sell:hover {
    color: white;
    border: 1px solid #f7b527;
    /* box-shadow: 0 0 30px 0 rgba(236, 232, 0, 0.5); */
    background-color: #f7b527;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .button-sell:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
  }
  .button-sell:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  .button-sell:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @-webkit-keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
  }
  @-moz-keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
  }
  @keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
  }
  .button-sell.active{
   display: none;
  }
  .setting{
    background: rgb(206, 204, 204);
    width: 100vw;
    height:100vh;
    position: absolute !important;
    top: 0;
    opacity: .95;
    
    transform: scale(0);
 
    border-radius: 100%;
}
  .setting.active{
   transition: .2s;
    transform: scale(1);
    border-radius: 0;
  }

  .setting i{
      color: rgb(34, 32, 32);
      font-size:30px;
      margin-left: 2vw;
      margin-top: 2vh;
  }  
 

 .charts{
   display: none;
 }
 .charts.active{
  display: block;
}

.loading-wrap{
  background: #0d161f;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  bottom: 0;
  }

  .loading-wrap.loaded{
    bottom: 100vh;
    transition: 3s !important;
  }
  #circle {
   
    position: absolute;
    z-index: 1001;
    
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
  }
  .loading-cr{
   top: 50vh;
  }
  .loading-cr.loaded{
    top: -20vh !important;
    transition: 4s !important;
  }
  .loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #162534;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
  }
  @-moz-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  